body {
    /* background-size: 150% 150%; */
    background-image: linear-gradient(-45deg, #ffc375cb, #ffc375cb, #ff5050a8, #ff5050a8);
    animation: mygradient 2s ease infinite;
    top: 0;
    left: 0;
}

@keyframes mygradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.calculadora {
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    height: 685px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 0px 0px 6px rgb(155, 155, 155);
    -webkit-box-shadow: 0px 0px 6px rgb(155, 155, 155);
    -moz-box-shadow: 0px 0px 6px rgb(155, 155, 155); 
}

.imgOperadores img {
    height: 50px;
    width: 50px;
}

.calcDisplay {
    background-color: rgb(60, 61, 66);
    height: 156.4px;
    width: auto;
    margin: 35px 35px 15px 35px;
    border-radius: 10px;
}

.calcOperadores {
    background-color: rgba(216, 216, 216, 0.667);
    height: 445px;
    width: auto;
    margin: 15px 35px 35px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
}

.numbersColumn, .operadores {
    background-color: rgba(216, 216, 216, 0.667);
    height: 107px;
    width: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px lightgray;
    border-radius: 5px;
}

.numbersColumn, .operadores {
    font-size: 28px;;
}

button.number, .operador {
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
}

#igual.operadores {
    height: 440px;
}






